source activate TUM-teaching-sample

export ROOT=$PWD
export PATH=$PATH:$ROOT/bin


# We just use the configuration files from the analysis repository.
export MATPLOTLIBRC=$ROOT/configurations
export JUPYTER_CONFIG_DIR=$ROOT/configurations/jupyter
export IPYTHONDIR=$ROOT/configurations/ipython
